Source: miatoll-quirks
Maintainer: Cédric Bellegarde <cedric.bellegarde@adishatz.org>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/bellegarde-c/miatoll-quirks
Vcs-Git: https://github.com/bellegarde-c/miatoll-quirks.git

Package: miatoll-quirks
Architecture: all
Provides: batman, batman-governor, batman-helper, batman-libpower, libbatman-wrappers
Replaces: batman, batman-governor, batman-helper, batman-libpower, libbatman-wrappers
Breaks: batman, batman-governor, batman-helper, batman-libpower, libbatman-wrappers
Description: Miatoll quirks
