#!/usr/bin/make -f

%:
	dh $@

override_dh_installsystemduser:
	dh_installsystemduser -pmiatoll-quirks --name=miatoll_data_quirk miatoll_data_quirk.timer
	dh_installsystemduser -pmiatoll-quirks --name=miatoll_quirks miatoll_quirks.service
